<!-- #######
SI507 Final Project
Pick a Movie for Tonight
Name: Yang Shen
Uniqname: lizshen
#########-->
<html>

<head>
	<title>Movies Just for You</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
	<style>
		body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}.w3-bar-block.w3-bar-item {padding:20px}
	</style>
</head>


<body>


<!-- !Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
	<a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button">Close Menu</a>
  	<a href="https://www.si.umich.edu/programs/courses/507" onclick="w3_close()" class="w3-bar-item w3-button">SI 507 Course Info</a>
  	<a href="https://www.imdb.com/chart/top/?ref_=nv_mv_250" onclick="w3_close()" class="w3-bar-item w3-button">IMDb Top 250 Movies</a>
</nav>


<!-- !Title -->
<div class="w3-top">
    <div class="w3-black w3-xlarge">
        <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
        <div class="w3-center w3-padding-16">Movies Just for You</div>
  </div>
</div>

<!-- !PAGE CONTENT -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:50px">
	<div class="w3-container w3-padding-32 w3-center">
        {% if rand%}
            <h5><b>No matches in our Top 250 movies.<br/>
                But check these out, you might like them!</b></h5>
        {% else %}
        <h5><b>Here are the movie list made just for you...</b></h5><br/>
        {% endif %}
    </div>

    <div class="w3-container w3-padding-32">
        <div class="w3-row-padding">
            <div id="movies">

            {% for i in range(result['Title']|length) %}
                {% set i = i + 2 * i %}
                {% if i < result['Title']|length %}
                <div class="w3-left w3-third">
                    <div class="w3-card w3-hover-shadow" style="width:300px;height:700px;margin-top:10px">
                        <br/>
                        <div class="w3-center"><img src={{result['img'][i]}} style="width:80%"></div>
                        <div class="w3-container">
                        <div class="w3-large w3-center"><br/><b><a href={{result['URL'][i]}}>{{result['Title'][i]}}</a></b></div>
                        <div class="w3-center">{{result['Year'][i]}} · {{result['Classification'][i]}} · {{result['Length'][i]}}</div>
                        <div class="w3-left">
                            <br/>
                            <b>IMDb Rating:</b> {{result['Rating'][i]}} / 10<br/>
                            {% if result['Directors'][i]|length == 1 %}
                                <b>Director </b> {{result['Directors'][i][0]}}<br/>
                            {% else %}
                                <b>Directors </b>
                                {% for dir in result['Directors'][i] %}
                                    {{dir}}
                                    {{ " · " if not loop.last else "" }}
                                {% endfor %}
                                <br/>
                            {% endif %}

                            {% if result['Writers'][i]|length == 1 %}
                                <b>Writer </b> {{result['Writers'][i][0]}}<br/>
                            {% else %}
                                <b>Writers </b>
                                {% for wri in result['Writers'][i] %}
                                    {{wri}}
                                {{ " · " if not loop.last else "" }}
                                {% endfor %}
                                <br/>
                            {% endif %}

                            {% if result['Stars'][i]|length == 1 %}
                                <b>Star </b> {{result['Stars'][i][0]}}<br/>
                            {% else %}
                                <b>Stars </b>
                                {% for star in result['Stars'][i] %}
                                    {{star}}
                                    {{ " · " if not loop.last else "" }}
                                {% endfor %}
                                <br/>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}

                {% set i = i + 1 %}
                {% if i < result['Title']|length %}
                <div class="w3-middle w3-third">
                    <div class="w3-card w3-hover-shadow" style="width:300px;height:700px;margin-top:10px">
                        <br/>
                        <div class="w3-center"><img src={{result['img'][i]}} style="width:80%"></div>
                        <div class="w3-container">
                        <div class="w3-large w3-center"><br/><b><a href={{result['URL'][i]}}>{{result['Title'][i]}}</a></b></div>
                        <div class="w3-center">{{result['Year'][i]}} · {{result['Classification'][i]}} · {{result['Length'][i]}}</div>
                        <div class="w3-left">
                            <br/>
                            <b>IMDb Rating:</b> {{result['Rating'][i]}} / 10<br/>
                            {% if result['Directors'][i]|length == 1 %}
                                <b>Director </b> {{result['Directors'][i][0]}}<br/>
                            {% else %}
                                <b>Directors </b>
                                {% for dir in result['Directors'][i] %}
                                    {{dir}}
                                    {{ " · " if not loop.last else "" }}
                                {% endfor %}
                                <br/>
                            {% endif %}

                            {% if result['Writers'][i]|length == 1 %}
                                <b>Writer </b> {{result['Writers'][i][0]}}<br/>
                            {% else %}
                                <b>Writers </b>
                                {% for wri in result['Writers'][i] %}
                                    {{wri}}
                                {{ " · " if not loop.last else "" }}
                                {% endfor %}
                                <br/>
                            {% endif %}

                            {% if result['Stars'][i]|length == 1 %}
                                <b>Star </b> {{result['Stars'][i][0]}}<br/>
                            {% else %}
                                <b>Stars </b>
                                {% for star in result['Stars'][i] %}
                                    {{star}}
                                    {{ " · " if not loop.last else "" }}
                                {% endfor %}
                                <br/>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}

                {% set i = i + 1 %}
                {% if i < result['Title']|length %}
                <div class="w3-right w3-third">
                    <div class="w3-card w3-hover-shadow" style="width:300px;height:700px;margin-top:10px">
                        <br/>
                        <div class="w3-center"><img src={{result['img'][i]}} style="width:80%"></div>
                        <div class="w3-container">
                        <div class="w3-large w3-center"><br/><b><a href={{result['URL'][i]}}>{{result['Title'][i]}}</a></b></div>
                        <div class="w3-center">{{result['Year'][i]}} · {{result['Classification'][i]}} · {{result['Length'][i]}}</div>
                        <div class="w3-left">
                            <br/>
                            <b>IMDb Rating:</b> {{result['Rating'][i]}} / 10<br/>
                            {% if result['Directors'][i]|length == 1 %}
                                <b>Director </b> {{result['Directors'][i][0]}}<br/>
                            {% else %}
                                <b>Directors </b>
                                {% for dir in result['Directors'][i] %}
                                    {{dir}}
                                    {{ " · " if not loop.last else "" }}
                                {% endfor %}
                                <br/>
                            {% endif %}

                            {% if result['Writers'][i]|length == 1 %}
                                <b>Writer </b> {{result['Writers'][i][0]}}<br/>
                            {% else %}
                                <b>Writers </b>
                                {% for wri in result['Writers'][i] %}
                                    {{wri}}
                                {{ " · " if not loop.last else "" }}
                                {% endfor %}
                                <br/>
                            {% endif %}

                            {% if result['Stars'][i]|length == 1 %}
                                <b>Star </b> {{result['Stars'][i][0]}}<br/>
                            {% else %}
                                <b>Stars </b>
                                {% for star in result['Stars'][i] %}
                                    {{star}}
                                    {{ " · " if not loop.last else "" }}
                                {% endfor %}
                                <br/>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    </div>
</body>

<!-- Footer -->
<footer class="w3-padding-16 w3-black w3-center w3-margin-top">
  <h6><i>About Me</i></h6>
	Yang Shen<br/>
	lizshen@umich.edu<br/>
	School of Information<br/>
	University of Michigan<br/>
  <p>This is a course project for <a href="https://www.si.umich.edu/programs/courses/507" target="_blank" class="w3-hover-text-green">SI 507</a>.</p>
</footer>


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</html>
